<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply">
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="map">
	    INSERT INTO REPLY (
	        REPLY_NO,
	        BOARD_NO,
	        USER_NO,
	        REPLY_CONTENT,
	        REPLY_DATE,
	        REPLY_DELETE
	    ) VALUES (
	        SEQ_REPLY_NO.NEXTVAL,
	        #{boardNo},
	        #{userNo},
	        #{replyContent},
	        SYSDATE,
	        'N'                
	    )
	</insert>

	<select id="selectReplyCount" parameterType="_int" resultType="_int">
	    SELECT COUNT(*)
	    FROM REPLY
	    WHERE BOARD_NO = #{boardNo}
	      AND REPLY_DELETE = 'N'
	</select>

	<select id="selectReplyList" parameterType="map" resultType="Reply">
	    SELECT *
	    FROM (
	        SELECT ROWNUM AS RNUM, A.*
	        FROM (
	            SELECT 
	                R.REPLY_NO,
	                R.BOARD_NO,
	                R.USER_NO,
	                R.REPLY_CONTENT,
	                R.REPLY_DATE,
	                M.USER_NAME
	            FROM REPLY R 
	            JOIN MEMBER M ON (R.USER_NO = M.USER_NO)
	            WHERE R.BOARD_NO = #{boardNo}
	              AND R.REPLY_DELETE = 'N'
	            ORDER BY R.REPLY_NO DESC
	        ) A
	        WHERE ROWNUM &lt;= #{offset} + #{limit}
	    )
	    WHERE RNUM &gt; #{offset}
	</select>

	<update id="deleteReply" parameterType="_int">
	    UPDATE REPLY
	    SET REPLY_DELETE = 'Y' 
	    WHERE REPLY_NO = #{replyNo}
	</update>
	
	<select id="selectReply" resultType="Reply">
	    SELECT * FROM REPLY
	    WHERE REPLY_NO = #{replyNo}
	</select>
	
	<update id="updateReply">
	    UPDATE REPLY
	    SET REPLY_CONTENT = #{replyContent}
	    WHERE REPLY_NO = #{replyNo}
	</update>
</mapper>