/* 약관 */
.agree-area {
	width: 800px;
	margin: auto;
}
.agree-box {
	background: #eee;
	padding: 12px;
	margin: 10px 0;
}
.btn-area {
	text-align: center;
	margin: 30px;
}
button {
	background: #222;
	color: white;
	padding: 10px 30px;
	border: none;
}