body {
	margin: 0;
	font-family: Arial;
}

/* 단계 */
.step-area {
	text-align: center;
	margin: 40px;
}
.step {
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background: #ccc;
	line-height: 120px;
	margin: 0 20px;
}
.step.active {
	background: #222;
	color: white;
}

/* 약관 */
.agree-area {
	width: 800px;
	margin: auto;
}
.agree-box {
	background: #eee;
	padding: 12px;
	margin: 10px 0;
}
.btn-area {
	text-align: center;
	margin: 30px;
}
button {
	background: #222;
	color: white;
	padding: 10px 30px;
	border: none;
}