<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bid">
	<select id="itemLock" resultType="int">
		SELECT 1
		FROM ITEM
		WHERE ITEM_NO = #{itemNo}
		FOR UPDATE
	</select>
	<select id="selectCurrentPrice" resultType="int">
	    SELECT CASE
	        WHEN bidCount <![CDATA[<=]]> 1 THEN
	            (SELECT START_PRICE FROM ITEM WHERE ITEM_NO = #{itemNo})
	        ELSE
	            (
	            	SELECT BID_PRICE
					FROM (
					    SELECT ROWNUM AS rn, BID_PRICE
					    FROM (
					        SELECT BID_PRICE
					        FROM BID
					        WHERE ITEM_NO = #{itemNo}
					        ORDER BY BID_PRICE DESC, BID_TIME ASC
					    )
					)
					WHERE rn = 2
	            )
	    END AS CURRENT_PRICE
	    FROM (
	        SELECT COUNT(*) AS bidCount
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	    )
	</select>
	<select id="selectMaxPrice" resultType="int">
	    SELECT NVL(MAX(BID_PRICE), 0)
	    FROM BID
	    WHERE ITEM_NO = #{itemNo}
	</select>
	<insert id="insertBid">
		<selectKey keyProperty="bidNo" resultType="int" order="BEFORE">
	        SELECT SEQ_BID_NO.NEXTVAL FROM DUAL
	    </selectKey>
	    
	    INSERT INTO BID (
	        BID_NO,
	        ITEM_NO,
	        USER_NO,
	        BID_PRICE,
	        BID_TIME
	    ) VALUES (
	        #{bidNo},
	        #{itemNo},
	        #{userNo},
	        #{bidPrice},
	        SYSDATE
	    )
	</insert>
	<select id="selectRanking" resultType="int">
	    SELECT RN
	    FROM (
	        SELECT BID_NO,
	               ROW_NUMBER() OVER (ORDER BY BID_PRICE DESC, BID_TIME ASC) AS RN
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	    )
	    WHERE BID_NO = #{bidNo}
	</select>
	<select id="selectBidCount" resultType="int">
	    SELECT COUNT(*)
	    FROM BID
	    WHERE ITEM_NO = #{itemNo}
	</select>
	<update id="updateCurrentPrice">
	    UPDATE ITEM
	    SET CURRENT_PRICE = #{currentPrice}
	    WHERE ITEM_NO = #{itemNo}
	</update>
</mapper>