<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bid">
	<select id="itemLock" resultType="int">
		SELECT 1
		FROM ITEM
		WHERE ITEM_NO = #{itemNo}
		FOR UPDATE
	</select>
	<select id="selectCurrentPrice" resultType="int">
	    SELECT CASE
	        WHEN bidCount <![CDATA[<=]]> 1 THEN
	            (SELECT START_PRICE FROM ITEM WHERE ITEM_NO = #{itemNo})
	        ELSE
	            (
	            	SELECT BID_PRICE
					FROM (
					    SELECT ROWNUM AS rn, BID_PRICE
					    FROM (
					        SELECT BID_PRICE
					        FROM BID
					        WHERE ITEM_NO = #{itemNo}
					        ORDER BY BID_PRICE DESC, BID_TIME ASC
					    )
					)
					WHERE rn = 2
	            )
	    END AS CURRENT_PRICE
	    FROM (
	        SELECT COUNT(*) AS bidCount
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	    )
	</select>
	<select id="selectMaxPrice" resultType="int">
	    SELECT NVL(MAX(BID_PRICE), 0)
	    FROM BID
	    WHERE ITEM_NO = #{itemNo}
	</select>
	<insert id="insertBid">
		<selectKey keyProperty="bidNo" resultType="int" order="BEFORE">
	        SELECT SEQ_BID_NO.NEXTVAL FROM DUAL
	    </selectKey>
	    
	    INSERT INTO BID (
	        BID_NO,
	        ITEM_NO,
	        USER_NO,
	        BID_PRICE,
	        BID_TIME,
	        BID_IP
	    ) VALUES (
	        #{bidNo},
	        #{itemNo},
	        #{userNo},
	        #{bidPrice},
	        SYSTIMESTAMP,
	        #{bidIp}
	    )
	</insert>
	<select id="selectRanking" resultType="int">
	    SELECT RN
	    FROM (
	        SELECT BID_NO,
	               ROW_NUMBER() OVER (ORDER BY BID_PRICE DESC, BID_TIME ASC) AS RN
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	    )
	    WHERE BID_NO = #{bidNo}
	</select>
	<select id="selectBidCount" resultType="int">
	    SELECT COUNT(*)
	    FROM BID
	    WHERE ITEM_NO = #{itemNo}
	</select>
	<update id="updateCurrentPrice">
	    UPDATE ITEM
	    SET CURRENT_PRICE = #{currentPrice}
	    WHERE ITEM_NO = #{itemNo}
	</update>
	
	<select id="selectBidHistory" resultType="Bid">
	    SELECT 
	        B.USER_NO AS userNo, 
	        M.USER_ID AS userId, 
	        B.BID_PRICE AS bidPrice,
	        B.BID_TIME AS bidTime,
	        B.BID_IP AS bidIp,
	        D.BIDDER_NO AS ranking
	    FROM BID B
	    JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
	    JOIN (
	        SELECT USER_NO, BID_IP, 
	               ROW_NUMBER() OVER (ORDER BY MIN(BID_TIME) ASC) AS BIDDER_NO
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	        GROUP BY USER_NO, BID_IP
	    ) D ON (B.USER_NO = D.USER_NO AND B.BID_IP = D.BID_IP)
	    WHERE B.ITEM_NO = #{itemNo}
	    ORDER BY B.BID_TIME DESC
	</select>
	
	<select id="findTopBid" resultType="bid">
	    SELECT *
	    FROM (
	        SELECT *
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	        	AND BID_STATUS IS NULL
	        ORDER BY BID_PRICE DESC, BID_TIME ASC
	    )
	    WHERE ROWNUM = 1
	</select>
	<select id="findSecondBid" resultType="Bid">
	    SELECT *
	    FROM (
	        SELECT B.*, ROW_NUMBER() OVER (ORDER BY BID_PRICE DESC, BID_TIME ASC) AS RN
	        FROM BID B
	        WHERE ITEM_NO = #{itemNo}
	    )
	    WHERE RN = 2
	</select>
	
	<update id="updateRanking">
	    MERGE INTO BID B
	    USING (
	        SELECT BID_NO,
	               ROW_NUMBER() OVER (ORDER BY BID_PRICE DESC, BID_TIME ASC) AS RN
	        FROM BID
	        WHERE ITEM_NO = #{itemNo}
	    ) R
	    ON (B.BID_NO = R.BID_NO)
	    WHEN MATCHED THEN
	    UPDATE SET B.RANKING =
	        CASE
	            WHEN R.RN = 1 THEN 1
	            WHEN R.RN = 2 THEN 2
	            ELSE NULL
	        END
	</update>
	
	<update id="updateBidStatus">
	    UPDATE BID
	    SET BID_STATUS = #{status}
	    WHERE BID_NO = #{bidNo}
	    	AND BID_STATUS IS NULL
	</update>
</mapper>