<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="login" resultType="com.kh.kbay.member.model.vo.Member">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{userId}
			AND USER_PWD = #{userPwd}
	</select>
	
	<insert id="insertMember">
		INSERT INTO MEMBER VALUES(
		SEQ_USER_NO.NEXTVAL,
		1,
		#{userId},
		#{userPwd},
		#{userName},
		#{userAddress},
		#{userPhone},
		#{userEmail},
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT
		)
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = #{userId}
	</select>
</mapper>