<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
<resultMap id="memberResultSet" type="member">
    <id column="USER_NO" property="userNo" />
    <result column="USER_ID" property="userId" />
    <result column="USER_PWD" property="userPwd" /> <result column="USER_NAME" property="userName" />
    <result column="AUTHORITY" property="authority" />
    <result column="USER_ADDRESS" property="userAddress" />
    <result column="USER_PHONE" property="userPhone" />
    <result column="USER_EMAIL" property="userEmail" />
    <result column="USER_ENROLL_DATE" property="userEnrollDate" />
    <result column="USER_DELETE_YN" property="userDeleteYn" />
</resultMap>
	<select id="loginUserById" resultMap="memberResultSet">
	SELECT *
	FROM MEMBER
	WHERE USER_ID = #{userId} AND USER_DELETE_YN = 'N'
	</select>

	<insert id="insertMember">
		INSERT INTO MEMBER VALUES(
		SEQ_USER_NO.NEXTVAL,
		#{authority},
		#{userId},
		#{userPwd},
		#{userName},
		#{userAddress},
		#{userPhone},
		#{userEmail},
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT
		)
	</insert>

	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE
		USER_ID = #{userId}
	</select>
	
	<update id="updateAuth">
		UPDATE MEMBER
	    SET AUTHORITY = 2
	    WHERE USER_NO = #{userNo}
	</update>
	
	<select id="emailCheck" parameterType="string" resultType="_int">
    SELECT COUNT(*) FROM MEMBER WHERE USER_EMAIL = #{email}
</select>

<update id="saveAuthCode" parameterType="map">
    MERGE INTO MAIL_AUTH a
    USING DUAL ON (a.USER_EMAIL = #{email})
    WHEN MATCHED THEN
        UPDATE SET AUTH_CODE = #{authCode}, CREATE_TIME = SYSDATE, EXPIRE_TIME = SYSDATE + 3/1440
    WHEN NOT MATCHED THEN
        INSERT (USER_EMAIL, AUTH_CODE, EXPIRE_TIME)
        VALUES (#{email}, #{authCode}, SYSDATE + 3/1440)
</update>

<select id="verifyCode" parameterType="map" resultType="_int">
    SELECT COUNT(*) 
    FROM MAIL_AUTH 
    WHERE USER_EMAIL = #{email} 
      AND AUTH_CODE = #{inputCode} 
      AND EXPIRE_TIME > SYSDATE
</select>

<delete id="deleteAuthCode" parameterType="string">
    DELETE FROM MAIL_AUTH 
    WHERE USER_EMAIL = #{email}
</delete>

<select id="selectMemberByUserNo" parameterType="_int" resultMap="memberResultSet">
    SELECT 
        USER_NO,
        USER_ID,
        USER_NAME,
        USER_EMAIL,
        USER_PHONE,
        AUTHORITY
    FROM MEMBER
    WHERE USER_NO = #{userNo}
      AND USER_DELETE_YN = 'N'
</select>
</mapper>